<html lang="en" class="min-h-screen bg-night">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/background_animation.css">
</head>

<body class="min-h-screen">
    <div class="min-h-screen">
        <!--Start Of Background Animation Body-->
        <%- include('../../common/box_animation'); -%>
            <!--End Of Background Animation Body-->
            <!--header-->
            <%- include('../../common/header'); -%>
                <!--header-->
                <div class="w-full h-screen relative z-10">
                    <div class="w-full h-screen flex flex-col items-center justify-center">
                        <div class="w-full h-72 mt-12" style="background-image:url('/assets/img/500.png'); 
                                                     background-position: center; 
                                                     background-size: contain; 
                                                     background-repeat: no-repeat;">
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <p class="text-3xl md:text-4xl lg:text-5xl text-white mt-8">Server Error</p>
                            <p class="md:text-lg lg:text-xl text-gray-400 mt-8">Oops... Something went wrong</p>
                        </div>
                    </div>
                </div>
</body>

</html>